/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* css variables */
:root {
  --color-primary: #ff7675;
  --color-primary-hover: #e06867;
  --background-color: #fdfdfd;
  --font-color: #222222;
  --error-color: #d63031;
  --success-color: #27ae60;
  --sidebar-color: #f5f5f5;
  --editarea-color: #f5f5f5;
  --sidebar-tran: 0.5s;
  --editarea-tran: 0.5s;
  --main-tran: 0.5s;
  --modal-tran: 0.5s;
  --overlay-tran: 0.5s;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif !important;
}
